<?xml version="1.0"?>

<model>
  <name>TTK4192 World</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Øystein Skjerdal Bondevik</name>
    <email>oystesb@stud.ntnu.no</email>
  </author>

  <description>
    World used in CA4 of TTK4192
  </description>
</model>
